body {

    background-color: #99CCCC;
    background-image: url("/static/images/anon.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    display:block;
    width:99%;
    height:100%;
    position:absolute;
    overflow:auto;
}
