<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MyFilmweb</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script>
        function buttonDisabled() {
            document.getElementById("send").disabled = true;

        }
    </script>
    <script>
        function checkPass() {
            var password = document.getElementById("pass1").value;
            var password2 = document.getElementById("pass2").value;
            if (password === password2) {

                document.getElementById("send").disabled = false;
                document.getElementById("message").innerHTML = "Hasło pasuje";
            } else document.getElementById("message").innerHTML = "Podaj poprawnie oba hasła!";
        }


    </script>
</head>
<body style="background-image:url('http://www.allwhitebackground.com/images/2/2271.jpg');
    background-repeat:no-repeat;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    display:block;
    width:100%;
    height:100%;
    position:absolute;
    overflow:auto;"
      onload="buttonDisabled()">
<form th:action="@{/registration/addUser}" method="post" th:object="${user}">
    <h1>Rejestracja</h1>
    <p>Podaj użytkownika</p>
    <input type="text" name="name" th:field="*{username}"/>
    <p>Podaj podaj hasło</p>
    <input type="password" id="pass1" name="pass1" th:field="*{password}"/>
    <p>Podaj potwierdź hasło</p>
    <input type="password" id="pass2" name="pass2" oninput="checkPass()"/>
    <input type="submit" id="send" name="Rejestruj"/>
</form>
<p id="message"></p>
<footer th:replace="footer::footer"/>
</body>
</html>
